body{
    margin:10;
    padding:10;

}
.grid{
    display:flex;
    flex-wrap:wrap;
    width :400px;
    height:400px;
    border: 2px solid green;
}

.square{
    width:20px;
    height:20px;
    background-color:green;
}
.snake{
    background-color:yellowgreen;
    border-radius: 4px;
}